.ti-item{
    max-width: 1500px;
    margin: 0 auto;

    @include device(phone){
        max-width: 300px;
    }

    img{
        width: 350px;
        margin-top: 32px;
        margin-left: 560px;
        margin-bottom: 32px;
        @include device(phone){
            margin: 0px;
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }
}